      <div class="modal schedule-appointment-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Item to be viewed</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="select-date">
                    <img src="https://placehold.it/350x150?text=Select+date" class="img-responsive" alt="">
                  </div>
                  <div class="date-selected">
                    <p>DATE SCHEDULED<br><small><a href="#" class="reset-date">change date</a></small></p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="select-time">
                    <p><strong>11:00 a.m.</strong></p>
                  </div>
                  <div class="time-selected">
                    <p>TIME SCHEDULED<br><small><a href="#" class="reset-time">change time</a></small></p>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <a data-dismiss="modal" data-toggle="modal" data-target=".schedule-appointment-modal-form-lg" class="btn btn-default btn-primary" role="button" style="margin-top: 20px;">APPLY &amp; CONTINUE <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>