      <div class="modal choose-location-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Item to be picked up</h4>
            </div>
            <div class="modal-body">
              <div class="oakparkmall-radio">
                <address><strong>OAK PARK MALL</strong><br><small>6.8 mi</small></address>
              </div>
              <div class="oakparkmall-address">
                <address><strong>OAK PARK MALL</strong><br><small>11347 W. 95th Street<br>Overland Park, KS 66214<br>913-492-6920<br>6.8 mi</small></address>
              </div>
              <div>
                <address><strong>COUNTRY CLUB PLAZA</strong><br><small>2.4 mi</small></address>
              </div>
              <div class="towncenterplaza-radio">
                <address><strong>TOWN CENTER PLAZA</strong><br><small>8.2 mi</small></address>
              </div>
              <div class="towncenterplaza-address">
                <address><strong>TOWN CENTER PLAZA</strong><br><small>5232 W. 119th Street<br>Leawood, KS 66209<br>913-469-9690<br>8.2 mi</small></address>
              </div>
              <div>
                <address><strong>LEGENDS OUTLETS KANSAS CITY</strong><small><br>12.1</small></address>
              </div>
              <div>
                <address><strong>SUMMIT WOODS CROSSING</strong><small><br>14.2</small></address>
              </div>
              <a href="{{ site.baseurl }}/{{ page.design }}/schedule-appointment.html" class="btn btn-default btn-primary set-services-pickup" role="button" style="margin-top: 20px;">APPLY &amp; CONTINUE <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></a>
            </div>
          </div>
        </div>
      </div>