          <h1 class="hwy-product-title">{{ page.title }}</h1>
          <div class="row hwy-review">
            <div class="col-md-3">
              <p class="lead">{{ page.price }}</p>
            </div>
            <div class="col-md-9">
              <p class="text-right small"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star star-review" aria-hidden="true"></span><span class="glyphicon glyphicon-star star-review" aria-hidden="true"></span><span class="glyphicon glyphicon-star star-review" aria-hidden="true"></span><span class="glyphicon glyphicon-star star-review" aria-hidden="true"></span> <a href="#">({{ page.review-count}}) Read reviews</a> | <a href="#">Write a review</a></p>
            </div>
          </div>