    <script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/jquery.easing.js"></script>
    <script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/jquery.cookie.js"></script>
    <script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/highway.js"></script>
    <script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/qty-minus-plus.js"></script>