        <div class="col-sm-12">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#product-details" aria-controls="product-details" role="tab" data-toggle="tab">Product Details</a></li>
            <li role="presentation"><a href="#customer-reviews" aria-controls="customer-reviews" role="tab" data-toggle="tab">Customer Reviews</a></li>
            <li role="presentation"><a href="#ask-and-answer" aria-controls="ask-and-answer" role="tab" data-toggle="tab">Ask &amp; Answer</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="product-details">
              <p>Product Details</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="customer-reviews">
              <p>Customer Reviews</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="ask-and-answer">
              <p>Ask &amp; Answer</p>
            </div>
          </div>
        </div>