---
layout: default
title: Heart of the Ocean Pendant in Sterling Silver
price: $149.99
review-count: 10
design: design-b
---
      <div class="row">
{% include breadcrumb-pendant.html %}
      </div>
      <div class="row">
        <div class="col-sm-7">
{% include photos-pendant.html %}
        </div>
        <div class="col-sm-5">
{% include product-titleprice.html %}
{% include input-quantity.html %}
          <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <a href="{{ site.baseurl }}/{{ page.design }}/my-bag.html" class="btn btn-default btn-default btn-block ship" role="button">ADD TO BAG <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                </div>
              </div>
              <div class="row" style="margin-top: 10px; padding:20px;">
                <div class="col-xs-6 text-center" style="border-right: 1px solid #ddd;">
                  <p><small><strong>Ready to Ship.</strong><br>Est arrival: 08/10–08/12</small></p>
                </div>
                <div class="col-xs-6 text-center">
                  <p><small><strong>In-Store Pickup (FREE)</strong><br>Available today at<br>Town Center Plaza<br><a href="#" data-toggle="modal" data-target=".choose-location-modal-lg">Check other locations</a></small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="well well-lg text-center" style="margin: 50px 0;">
            <h3>Schedule Appointment</h3>
            <p>schedule appointment text</p>
            <a href="{{ site.baseurl }}/{{ page.design }}/schedule-appointment.html" class="btn btn-default btn-default" role="button">GET STARTED <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
          </div>
        </div>
      </div>
      <div class="row">
{% include tabs-pendant.html %}      
      </div>

{% include modal-location.html %}