---
layout: default
title: 3/4 ct. tw. Diamond Engagement Ring in 14K Gold
price: $1,999.00
review-count: 4
design: design-a
---
      <div class="row">
{% include breadcrumb-ring.html %}
      </div>
      <div class="row">
        <div class="col-sm-7">
{% include photos-ring.html %}
        </div>
        <div class="col-sm-5">
{% include product-titleprice.html %}
          <p>financing container</p>
{% include input-quantity.html %}
          <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <a href="{{ site.baseurl }}/design-a/my-bag.html" class="btn btn-default btn-default btn-block ship" role="button">ADD TO BAG <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                </div>
              </div>
              <div class="row" style="margin-top: 10px; padding:20px;">
                <div class="col-xs-12">
                  <div class="pickup">
                    <p><strong>Pick Up In-Store</strong></p>
                  </div>
                  <div class="panel-pickup">
                    <div class="oakparkmall-location">
                      <p>This product is currently unavailable at the following location.</p>
                      <address class="oakparkmall-location">OAK PARK MALL<br><small>11347 W. 95th Street<br>Overland Park, KS 66214<br>913-492-6920</small></address>
                    </div>
                    <div class="towncenterplaza-location">
                      <address>TOWN CENTER PLAZA<br><small>5232 W. 119th Street<br>Leawood, KS 66209<br>913-469-9690</small></address>
                    </div>
                    <p><a href="#" data-toggle="modal" data-target=".choose-location-modal-lg">Check other locations for availability</a><br><a href="#">Learn more about Pick Up In-Store</a></p>
                    <p><a href="#" class="btn btn-default btn-default btn-block" role="button">APPLY &amp; CONTINUE <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a></p>
                   
                  </div>
                  <div class="clear-fix"></div>
                  <div class="appointment" style="margin-top: 30px;">
                    <p><strong>Schedule Appointment to View In-Store</strong></p>
                  </div>
                  <div class="panel-appointment">
                    <p>Book a time for your FREE in-store viewing at the location specified below or choose another location if needed. Click the “APPLY &amp; CONTINUE” button and we’ll get you scheduled.</p>
                    <address class="oakparkmall-location">OAK PARK MALL<br><small>11347 W. 95th Street<br>Overland Park, KS 66214<br>913-492-6920</small></address>
                    <address class="towncenterplaza-location">TOWN CENTER PLAZA<br><small>5232 W. 119th Street<br>Leawood, KS 66209<br>913-469-9690</small></address>
                    <p><a href="#" data-toggle="modal" data-target=".choose-location-appointment-a-lg">Check other locations for viewing</a><br><a href="#">Learn more about the Diamond Lab</a></p>
                    <p><a href="#" data-toggle="modal" data-target=".schedule-appointment-modal-lg" class="btn btn-default btn-default btn-block" role="button" style="margin-top: 16px;">APPLY &amp; CONTINUE <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
{% include tabs-ring.html %}      
      </div>
{% include modal-appointment-confirmation.html %}