---
layout: default
title: Heart of the Ocean Pendant in Sterling Silver
price: $149.99
review-count: 10
design: design-a
---
      <div class="row">
{% include breadcrumb-pendant.html %}
      </div>
      <div class="row">
        <div class="col-sm-7">
{% include photos-pendant.html %}
        </div>
        <div class="col-sm-5">
{% include product-titleprice.html %}
{% include input-quantity.html %}
          <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <a href="{{ site.baseurl }}/design-a/my-bag.html" class="btn btn-default btn-default btn-block ship" role="button">ADD TO BAG <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                </div>
              </div>
              <div class="row" style="margin-top: 10px; padding:20px;">
                <div class="col-xs-12">
                  <div class="pickup">
                    <p><strong>Pick Up In-Store</strong></p>
                  </div>
                  <div class="panel-pickup">
                    <address class="oakparkmall-location">OakPark</address>
                    <address class="towncenterplaza-location">TownCenter</address>
                    <p style="margin-bottom: 20px;"><a href="#" data-toggle="modal" data-target=".choose-location-modal-lg">Check other locations for availability</a><br><a href="#">Learn more about Pick Up In-Store</a></p>
                    <a href="{{ site.baseurl }}/design-a/my-bag.html" class="btn btn-default btn-default btn-block" role="button">APPLY &amp; CONTINUE <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                  </div>
                  <div class="clear-fix"></div>
                  <div class="appointment" style="margin-top: 30px;">
                    <p><strong>Schedule Appointment to View In-Store</strong></p>
                  </div>
                  <div class="panel-appointment">
                    <p>Appointment text</p>
                    <a href="#" data-toggle="modal" data-target=".schedule-appointment-modal-lg" class="btn btn-default btn-default btn-block" role="button">APPLY &amp; CONTINUE <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
{% include tabs-pendant.html %}      
      </div>

{% include modal-location.html %}

{% include modal-schedule-appointment.html %}