---
layout: default
title: Heart of the Ocean Pendant in Sterling Silver
price: $149.99
review-count: 10
design: design-a
---
      <div class="row">
{% include breadcrumb-pendant.html %}
      </div>
      <div class="row">
        <div class="col-sm-7">
{% include photos-pendant.html %}
        </div>
        <div class="col-sm-5">
{% include product-titleprice.html %}
{% include input-quantity.html %}
          <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <a href="{{ site.baseurl }}/design-a/my-bag.html" class="btn btn-default btn-default btn-block ship" role="button">ADD TO BAG <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                </div>
              </div>
              <div class="row" style="margin-top: 10px; padding:20px;">
                <div class="col-xs-12">
                  <div class="pickup">
                    <p class="hwy-radio-pickup"><strong>Pick Up In-Store</strong></p>
                  </div>
                  <div class="panel-pickup p34">
                    <div class="oakparkmall-location">
                      <p class="text-danger"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> This product is currently unavailable at the following location.</p>
                      <address class="oakparkmall-location">OAK PARK MALL<small><br>11347 W. 95th Street<br>Overland Park, KS 66214<br>913-492-6920</small></address> 
                    </div>
                    <address class="towncenterplaza-location">TownCenter</address>
                    <p style="margin-bottom: 16px;"><small><a href="#" data-toggle="modal" data-target=".choose-location-modal-lg">Check other locations for availability</a><br><a href="#">Learn more about Pick Up In-Store</a></small></p>
                    <a href="{{ site.baseurl }}/design-a/my-bag.html" class="btn btn-default btn-default btn-block" role="button">APPLY &amp; CONTINUE <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                  </div>
                  <div class="clear-fix"></div>
                  <div class="appointment" style="margin-top: 30px;">
                    <p class="hwy-radio-appointment"><strong>Schedule Appointment to View In-Store</strong></p>
                  </div>
                  <div class="panel-appointment p34">
                    <p>Book a time for your FREE in-store viewing at the location specified below or choose another location if needed. Click the “APPLY &amp; CONTINUE” button and we’ll get you scheduled.</p>
                    <address class="oakparkmall-location">OAK PARK MALL<br><small>11347 W. 95th Street<br>Overland Park, KS 66214<br>913-492-6920</small></address>
                    <address class="towncenterplaza-location">TOWN CENTER PLAZA<br><small>5232 W. 119th Street<br>Leawood, KS 66209<br>913-469-9690</small></address>
                    <p style="margin-bottom: 16px;"><small><a href="#" data-toggle="modal" data-target=".choose-location-appointment-a-lg">Check other locations for viewing</a><br><a href="#">Learn more about the Diamond Lab</a></small></p>
                    <a href="#" data-toggle="modal" data-target=".schedule-appointment-modal-lg" class="btn btn-default btn-default btn-block" role="button">APPLY &amp; CONTINUE <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
{% include tabs-pendant.html %}      
      </div>

{% include modal-location.html %}

{% include modal-schedule-appointment.html %}