---
layout: default
title: 3/4 ct. tw. Diamond Engagement Ring in 14K Gold
price: $1,999.00
review-count: 4
design: design-a
---
      <div class="row">
{% include breadcrumb-ring.html %}
      </div>
      <div class="row">
        <div class="col-sm-7">
{% include photos-ring.html %}
        </div>
        <div class="col-sm-5">
{% include product-titleprice.html %}
          <p>financing container</p>
{% include input-quantity.html %}
          <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <a href="{{ site.baseurl }}/design-a/my-bag.html" class="btn btn-default btn-default btn-block ship" role="button">ADD TO BAG <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                </div>
              </div>
              <div class="row" style="margin-top: 10px; padding:20px;">
                <div class="col-xs-12">
                  <div class="pickup">
                    <p><strong>Pick Up In-Store</strong></p>
                  </div>
                  <div class="panel-pickup">
                    <p>Pickup text</p>
                    <a href="#" class="btn btn-default btn-default btn-block" role="button">APPLY &amp; CONTINUE <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                    <p class="small" style="margin-top: 10px; line-height: 22px;"><a href="#" data-toggle="modal" data-target=".choose-location-modal-lg">Check other locations for availability</a><br><a href="#">Learn more about Pick Up In-Store</a></p>
                    
                  </div>
                  <div class="clear-fix"></div>
                  <div class="appointment" style="margin-top: 30px;">
                    <p><strong>Schedule Appointment to View In-Store</strong></p>
                  </div>
                  <div class="panel-appointment">
                    <p>Appointment text</p>
                    <a href="a href="#" data-toggle="modal" data-target=".day-time-modal-lg" class="btn btn-default btn-default btn-block" role="button">APPLY &amp; CONTINUE <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
{% include tabs-ring.html %}      
      </div>

      <div class="modal fade choose-location-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Item to be picked up</h4>
            </div>
            <div class="modal-body">
              <div class="oakparkmall">
                <p><strong>OAK PARK MALL</strong></p>
              </div>
              <div class="panel-oakparkmall">
                <address>Address</address>
              </div>
              <div>
                <p><strong>STORE</strong></p>
              </div>
              <div class="towncenterplaza">
                <p><strong>TOWN CENTER PLAZA</strong></p>
              </div>
              <div class="panel-towncenterplaza">
                <address>Address</address>
              </div>
              <div>
                <p><strong>STORE</strong></p>
              </div>
              <div>
                <p><strong>STORE</strong></p>
              </div>
              <hr>
              <a href="{{ site.baseurl }}/design-b/my-bag.html" class="btn btn-default btn-primary" role="button" style="margin-top: 20px;">APPLY &amp; CONTINUE <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade day-time-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Item to be viewed</h4>
            </div>
            <div class="modal-body">
              STEPS:
              <ol>
                <li>Choose date</li>
                <li>Choose time</li>
                <li>Fill out form</li>
                <li>Checkout </li>
              </ol>
            </div>
          </div>
        </div>
      </div>  